 @import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.navbar{
    width: 100%;
    height: 65px;
    margin: 0 auto;
    background: #230c0f;
    text-align: center;
}

.navbar a{
    display: inline-block;
    padding: 22px;
    text-decoration: none;
    color: #A2D3C2;
    font-size: 16px;
}

.navbar a:hover{
    color: white;
    font-size: 17px;
}
.content{
    display: block;
    margin: auto;
    width: 800px;
    margin-top: 100px;
    font-size: 18px;
    font-family: 'Aleo', serif;
    letter-spacing: 1px;
    text-indent: 20px;
}
.content span{
    font-size: 40px;
}